/** 
  * Styles for Tiny Gallery.
  */

/* Gallery styles. */

a img { 
	border: none; 
}
.gallery a img {
	border: .2em solid blue; 
}
img {
	max-width: 100%;
	height: auto;
	margin: 1em 0em;
	vertical-align: top;
}
.gallery img {
	max-width: 20%;
	margin: 1em;
}
#main {
	text-align: left;
}

/* Photo styles. */

.item { position: relative;}
.item > a { display: block; text-align: center;}
.item > a > img { margin: 0; }
.nav-pager { 
  position: absolute; 
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.nav-pager a { 
  display: block;
  position: absolute;
  width: 50%; 
  height: 100%;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: right;
}
.nav-pager a:last-child {
  right: 0px;
  text-align: left;
}
.nav-pager a span {
  position: relative; 
  top: 2em;
  margin: 1em;
  padding: .5em;
  background: white;
  background-clip: padding-box;
  border: 2px solid rgba(128,128,128,.5);
}

